<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.kh.mapper.UserMapper">
	<insert id="signUpUser" parameterType="User">
		insert into naverusers (id, email, name, password, profile_image)
		values (#{id}, #{email}, #{name}, #{password}, #{profileImage})
	</insert>
</mapper>      