.chicken-detail-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.3s ease;
}

.chicken-detail-container:hover {
    transform: translateY(80px)
    /*
    translateY = 세로로 움직임(- 위로, + 아래로)
    */
}

.chicken-detail-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.chicken-detail-container p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
}

.chicken-detail-container input,
.chicken-detail-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    /*
        box-sizing : 태그의 전체 넓이와 높이를 어떻게 계산할지 정함
        border-box : 넓이와 높이에 텍스트나 이미지, 패딩, 보더까지 포함해서 전체적으로 계산
        content-box : 넓이와 높이가 텍스트나 이미지와 같은 내용만 계산
                      유동적으로 박스 크기 설정
    */
    
    transition: transform 0.5s ease;
}

.chicken-detail-container input:hover,
.chicken-detail-container textarea:hover {
    transform: translateY(80px) rotateY(180deg);
}

.chicken-detail-container button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, font-size 1s ease;
    /* transition  각 효과마다 변화되는 시간을 다르게 설정하고 싶을 때 쓰는 방법 */
}

.chicken-detail-container button:hover {
    background-color: #218838;
    font-size: 1.25em;
}